@charset "UTF-8";
@font-face {
  font-family: "Farao Black";
  src: url("../webfonts/farao-black.woff2") format("woff2"), url("../webfonts/farao-black.woff") format("woff"), url("../webfonts/farao-black.ttf") format("ttf");
}
@font-face {
  font-family: "Vision";
  src: url("../webfonts/vision.woff2") format("woff2"), url("../webfonts/vision.woff") format("woff"), url("../webfonts/vision.ttf") format("ttf");
}
@font-face {
  font-family: "Vision Bold";
  src: url("../webfonts/vision-bold.woff2") format("woff2"), url("../webfonts/vision-bold.woff") format("woff");
}
@font-face {
  font-family: "Vision Heavy";
  src: url("../webfonts/vision-heavy.woff2") format("woff2"), url("../webfonts/vision-heavy.woff") format("woff"), url("../webfonts/vision-heavy.ttf") format("ttf");
}
@font-face {
  font-family: "Vision Black";
  src: url("../webfonts/vision-black.woff2") format("woff2"), url("../webfonts/vision-black.woff") format("woff");
}
/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  color: #401f1f;
  font-family: "Vision Heavy";
  font-size: 16px;
  background-color: #f9ec7a;
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

body {
  position: relative;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-family: "Farao Black";
  font-size: 3rem;
  line-height: 1.15;
  margin: 1rem 0;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 2.5625rem;
  }
}
@media (max-width: 1020px) {
  h1 {
    font-size: 2.1875rem;
    margin: 0.75rem 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
    margin: 0.5rem 0;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.625rem;
    margin: 0.5rem 0;
  }
}
h1.h1-sans {
  font-family: "Vision Black";
  font-size: 5rem;
  color: #d0202f;
  text-transform: uppercase;
  line-height: 0.81;
  letter-spacing: -8px;
}
h1.h1-sans .larger-line {
  display: block;
  font-size: 5.625rem;
}
@media (max-width: 1280px) {
  h1.h1-sans {
    font-size: 4.25rem;
    letter-spacing: -6.8px;
  }
  h1.h1-sans .larger-line {
    font-size: 4.8125rem;
  }
}
@media (max-width: 1020px) {
  h1.h1-sans {
    font-size: 3.625rem;
    letter-spacing: -5.8px;
  }
  h1.h1-sans .larger-line {
    font-size: 4.125rem;
  }
}
@media (max-width: 768px) {
  h1.h1-sans {
    font-size: 3.125rem;
    letter-spacing: -5px;
  }
  h1.h1-sans .larger-line {
    font-size: 3.5rem;
  }
}

h2 {
  font-family: "Farao Black";
  font-size: 3.125rem;
  line-height: 1.05;
  letter-spacing: 2px;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 2.625rem;
  }
}
@media (max-width: 1020px) {
  h2 {
    font-size: 2.1875rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.875rem;
  }
}

h2, h3 {
  margin: 0;
}

h3 {
  font-family: "Vision Black";
  font-size: 2rem;
  letter-spacing: -1px;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 1.625rem;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  position: relative;
  z-index: 10000;
}

p.subtitle, .subtitle {
  font-family: "Vision Bold";
  font-size: 1.875rem;
  margin: auto;
  line-height: 1.3;
  letter-spacing: -2px;
}
@media (max-width: 1280px) {
  p.subtitle, .subtitle {
    font-size: 1.625rem;
  }
}
@media (max-width: 768px) {
  p.subtitle, .subtitle {
    font-size: 1.4375rem;
    letter-spacing: -1px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li:before {
  content: "•";
  position: relative;
  margin-right: 8px;
}

ul.hr-list {
  list-style: none;
}
ul.hr-list li {
  position: relative;
  display: inline;
  padding-left: 0;
  margin-left: 0;
}
ul.hr-list li:before {
  display: none;
}

section {
  padding: 2rem;
  margin: auto;
}

.button, a.button {
  display: inline-block;
  border-radius: 50px;
  padding: 0.875rem 2.375rem;
  background-color: #d0202f;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "Vision Heavy";
  color: #FFFFFF;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
}
.button:hover, a.button:hover {
  padding-left: 3.1875rem;
  padding-right: 3.1875rem;
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
}

.red-arrow {
  width: 3.75rem;
  height: 3.375rem;
}
@media (max-width: 680px) {
  .red-arrow {
    width: 2.375rem;
    height: 1.78125rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.stop-scroll {
  position: absolute;
  top: 0;
  overflow: hidden;
}

header {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  z-index: 3000;
  padding: 1.75rem 1.75rem 0px;
  max-width: 1920px;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d0202f;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
}
header.scrolled {
  padding: 10px 20px 9px;
}
header.scrolled:before {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.logo-container {
  position: relative;
  width: 243px;
}
.logo-container img {
  position: relative;
  z-index: 2;
  width: 100%;
}
.logo-container:after {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url("../images/logo-bg-gradient.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 50%;
  top: 53%;
  width: 154%;
  height: 256%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.logo-container .mobile-logo {
  opacity: 0;
  position: absolute;
  width: 84px;
  height: 45px;
}
.scrolled .logo-container .mobile-logo {
  opacity: 1;
  position: relative;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}
.logo-container .desktop-logo {
  opacity: 1;
}
.scrolled .logo-container .desktop-logo {
  opacity: 0;
  position: absolute;
}
.scrolled .logo-container {
  width: 84px;
}
.scrolled .logo-container:after {
  display: none;
}
@media (max-width: 768px) {
  .logo-container {
    width: 146px;
  }
}
@media (max-width: 480px) {
  .logo-container {
    width: 120px;
  }
  .scrolled .logo-container {
    width: 84px;
  }
}

nav {
  font-family: "Vision Heavy";
  font-size: 1.125rem;
}
nav ul.hr-list li {
  margin-left: 1rem;
  margin-right: 1rem;
}
nav ul.hr-list li:first-of-type {
  margin-left: 0;
}
nav ul.hr-list li:last-of-type {
  margin-right: 0;
}
@media (max-width: 680px) {
  nav ul.hr-list li {
    display: block;
    margin: 3px 0;
    text-align: right;
  }
  nav ul.hr-list li:after {
    display: none;
  }
  nav ul.hr-list li:first-of-type {
    margin-top: 0;
  }
  nav ul.hr-list li:last-of-type {
    margin-bottom: 0;
  }
}
nav a {
  color: #d0202f;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}
nav a:hover, nav a.selected {
  opacity: 0.6;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}
nav a.selected {
  pointer-events: none;
}
.scrolled nav {
  position: absolute;
  right: 18px;
}
.scrolled nav a {
  color: #FFFFFF;
}

.usda-badge {
  position: absolute;
  z-index: 3000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  top: 100%;
  width: 5rem;
  height: 5rem;
  background-image: url("../images/usda-badge.svg");
  background-position: center;
  background-size: contain;
}
@media (max-width: 1188px) {
  .usda-badge {
    width: 4.0625rem;
    height: 4.0625rem;
    margin-top: 13px;
  }
}
@media (max-width: 768px) {
  .usda-badge {
    width: 3.125rem;
    height: 3.125rem;
    margin-top: 8px;
  }
}
.scrolled .usda-badge {
  opacity: 0;
  position: absolute;
}

.usda-badge-mobile {
  opacity: 0;
  position: absolute;
  z-index: 3000;
  left: 100%;
  margin-left: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("../images/usda-badge-mobile.svg");
  background-position: center;
  background-size: contain;
}
.scrolled .usda-badge-mobile {
  opacity: 1;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 3000;
  padding: 0px 1.5625rem 1.5625rem;
  max-width: 1920px;
  color: #FFFFFF;
}
@media (min-width: 1021px) {
  footer.fixed {
    position: fixed;
    bottom: 0;
  }
}
footer p {
  font-family: "Vision Heavy";
  font-size: 1.125rem;
  margin: 0;
  color: #401f1f;
  display: inline;
}
footer a {
  color: #d0202f;
}
footer li {
  padding-left: 10px;
  padding-right: 10px;
}
footer li:first-of-type {
  padding-left: 0px;
}
footer li:last-of-type {
  padding-right: 0px;
}
footer li i {
  font-size: 1.4375rem;
}
@media (max-width: 480px) {
  footer {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  footer .footer-social-menu {
    margin-bottom: 1.25rem;
  }
}

.footer-copyright-nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.social-icon {
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.social-icon.fb {
  background-image: url("../images/social-icon-fb.png");
}
.social-icon.insta {
  background-image: url("../images/social-icon-insta.png");
}
.social-icon.tw {
  background-image: url("../images/social-icon-tw.png");
}

#home-page section {
  width: 100%;
}
#home-page section#bg {
  position: fixed;
  top: 0;
}

#bg, #bg > div {
  transition-property: opacity, background-color;
  -webkit-transition-property: opacity, background-color;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-timing-function: linear;
  padding: 0;
}

#bg {
  height: 100%;
}
#bg.color {
  opacity: 1;
}
#bg.color.hidden {
  opacity: 0;
}
#bg.bg1 {
  background-color: #f9ec7a;
}
#bg.bg2 {
  background-color: #fdc07c;
}
#bg.bg3 {
  background-color: #f9c9be;
}
#bg.bg4 {
  background-color: #e7cad3;
}
#bg > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  opacity: 1;
}
#bg > div.bg-gradient1 {
  background-image: url("../images/bg-gradient-landing.png");
}
#bg > div.bg-gradient2 {
  background-image: url("../images/bg-gradient-mimi.png");
}
#bg > div.bg-gradient3 {
  background-image: url("../images/bg-gradient-ingredients.png");
}
#bg > div.bg-gradient4 {
  background-image: url("../images/bg-gradient-products.png");
}
#bg > div.hidden {
  opacity: 0;
}

.texture-top, #bg > div.texture-top {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  background-image: url("../images/bg-texture.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .texture-top, #bg > div.texture-top {
    background-image: url("../images/bg-texture@2x.png");
  }
}

.texture-bottom, #bg > div.texture-bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 1900px;
  height: 100%;
  background-image: url("../images/bg-texture-bottom.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .texture-bottom, #bg > div.texture-bottom {
    background-image: url("../images/bg-texture-bottom@2x.png");
  }
}

.nyc-bg, .skyline, .nyc-skyline-lemon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.skyline {
  background-image: url("../images/slide-3-bg-skyline.png");
  background-size: contain;
  background-position: bottom;
}
@media (max-width: 1020px) {
  .skyline {
    background-size: 150vw;
  }
}
@media (max-width: 680px) {
  .skyline {
    background-size: 300vw;
  }
}

.lights {
  width: 37.9vw;
  height: 21vw;
  max-width: 30.3125rem;
  max-height: 16.75rem;
  background-image: url("../images/slide-3-bg-light.png");
  background-size: contain;
}
.lights.reverse {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  left: auto;
  right: 0;
}

.nyc-bg {
  background-image: url("../images/nyc-bg.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .nyc-bg {
    background-image: url("../images/nyc-bg@2x.png");
  }
}
.bg-gradient1 .nyc-bg {
  background-image: url("../images/nyc-bg-yellow.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bg-gradient1 .nyc-bg {
    background-image: url("../images/nyc-bg-yellow@2x.png");
  }
}
@media (max-width: 1020px) {
  .nyc-bg {
    background-size: 150vw;
  }
}
@media (max-width: 680px) {
  .nyc-bg {
    background-size: 200vw;
  }
}

.slide-main {
  height: 100vh;
  margin: auto;
  margin-bottom: 6rem;
  position: relative;
  background-color: transparent;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 961px) {
  .slide-main {
    margin-bottom: 1rem;
  }
}
@media (max-width: 680px) {
  .slide-main {
    margin-bottom: 3rem;
    padding: 2rem;
  }
}
@media (max-width: 480px) {
  .slide-main {
    min-height: 100vh;
    height: auto;
  }
}
.slide-main.slide1 {
  margin-top: 150px;
}
@media (max-width: 680px) {
  .slide-main.slide1 {
    margin-top: 80px;
  }
}
@media (max-width: 680px) {
  .slide-main.slide3 {
    margin-bottom: 7rem;
  }
}
.slide-main.slide3 .bg-graphics {
  margin-top: 6rem;
  background-image: url("../images/slide2-leaves-fruit.svg");
}
.slide-main.slide2 .bg-graphics {
  background-image: url("../images/slide3-stars.svg");
}

.bg-graphics {
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-width: 1900px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 1188px) {
  .bg-graphics {
    width: 100vw;
    background-size: 150vw;
  }
}
@media (max-width: 680px) {
  .bg-graphics {
    width: 100vw;
    background-size: auto 75%;
  }
  .slide1 .bg-graphics {
    background-size: 150vw;
  }
}

.slide-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}
@media (max-width: 680px) {
  .slide-content {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .slide-content.slide1 {
    padding-top: 0;
  }
}

.slide-image-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: relative;
  width: 50%;
  z-index: 200;
}
@media (max-width: 680px) {
  .slide-image-container {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 54vh;
    margin-bottom: 20px;
  }
}
.slide1 .slide-image-container {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.slide2 .slide-image-container {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

.slide-image {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 200;
}
@media (max-width: 680px) {
  .slide-image {
    background-position: bottom;
    max-height: 100vh;
    height: 100%;
  }
}
.slide1 .slide-image {
  margin-left: 15vw;
  width: 44.5vw;
  height: 61.1vw;
  max-width: 624px;
  max-height: 856px;
  min-width: 358px;
  min-height: 491px;
  background-image: url("../images/slide1-bottle-classic.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .slide1 .slide-image {
    background-image: url("../images/slide1-bottle-classic@2x.png");
  }
}
@media (max-width: 768px) {
  .slide1 .slide-image {
    margin-left: 21vw;
  }
}
@media (max-width: 680px) {
  .slide1 .slide-image {
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .slide1 .slide-image {
    min-width: 250px;
    min-height: 384px;
    margin-left: 37vw;
  }
}
.slide3 .slide-image {
  max-width: 835px;
  background-image: url("../images/slide-ingredients.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .slide3 .slide-image {
    background-image: url("../images/slide-ingredients@2x.png");
  }
}
@media (max-width: 768px) {
  .slide3 .slide-image {
    background-image: url("../images/slide-ingredients-mobile.png");
    background-size: contain auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
  }
}
@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .slide3 .slide-image {
    background-image: url("../images/slide-ingredients-mobile@2x.png");
  }
}
@media (max-width: 680px) {
  .slide3 .slide-image {
    background-size: contain !important;
  }
}
.slide2 .slide-image {
  background-image: url("../images/slide-mimi.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 681px) {
  .slide2 .slide-image {
    width: 30.46875vw;
    min-width: 29.25rem;
    max-width: 36.5625rem;
    height: 31.9791666667vw;
    min-height: 30.7rem;
    max-height: 38.375rem;
    min-width: 100% !important;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .slide2 .slide-image {
    background-image: url("../images/slide-mimi@2x.png");
  }
}

.slide-copy {
  width: 50%;
  max-width: 720px;
  color: #401f1f;
  z-index: 2;
  padding-left: 2rem;
  text-align: center;
}
@media (max-width: 680px) {
  .slide-copy {
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    transform: none !important;
    -webkit-transform: none !important;
  }
}
.slide-copy .button {
  margin-top: 1.4rem;
}

.slide-main.slide1 {
  height: auto;
  min-height: 100vh;
}
.slide-main.slide1 .slide-content {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.slide-main.slide1 .slide-image-container {
  width: 100%;
}
@media (max-width: 680px) {
  .slide-main.slide1 .slide-image-container {
    height: auto;
  }
}
@media (max-width: 680px) {
  .slide-main.slide1 .slide-image {
    background-position: top;
  }
}
.slide-main.slide1 .slide-copy {
  width: 100%;
  padding-top: 14vh;
  padding-left: 0;
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 1020px) {
  .slide-main.slide1 .slide-copy {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .slide-main.slide1 {
    min-height: 0;
  }
}

#about-products.slide-main {
  display: block;
  width: 100%;
  margin-left: auto;
  height: auto;
  text-align: center;
}
@media (min-width: 681px) {
  #about-products.slide-main {
    margin-bottom: 11rem;
  }
}
#about-products.slide-main h1 {
  color: #401f1f;
  max-width: 900px;
}
@media (max-width: 1280px) {
  #about-products.slide-main h1 {
    max-width: 800px;
  }
}
#about-products.slide-main h1, #about-products.slide-main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
#about-products.slide-main p {
  max-width: 800px;
  margin-top: 2rem;
  margin-bottom: 0;
}
#about-products.slide-main ul {
  font-family: "Vision Heavy";
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-top: 1rem;
}
@media (max-width: 1020px) {
  #about-products.slide-main ul {
    font-size: 1.875rem;
  }
}
@media (max-width: 680px) {
  #about-products.slide-main ul {
    font-size: 1.5625rem;
    margin-bottom: 1rem;
  }
}
#about-products.slide-main ul li:first-of-type {
  padding-top: 0;
}
#about-products.slide-main ul li:first-of-type:before {
  display: none;
}
#about-products.slide-main ul li:last-of-type {
  padding-bottom: 0;
}
#about-products.slide-main .button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-products-main {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about-products-main img {
  display: block;
  width: 100vw;
  max-width: 1329px;
  margin: 3rem auto 0;
}

.about-products-main-image {
  margin: 3rem auto 0;
  background-image: url("../images/home-products-main.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain !important;
  width: 45.0520833333vw;
  min-width: 32.4375rem;
  max-width: 54.0625rem;
  height: 34.4270833333vw;
  min-height: 24.7875rem;
  max-height: 41.3125rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .about-products-main-image {
    background-image: url("../images/home-products-main@2x.png");
  }
}
@media (max-width: 680px) {
  .about-products-main-image {
    width: 45.0520833333vw;
    min-width: 27.03125rem;
    max-width: 54.0625rem;
    height: 34.4270833333vw;
    min-height: 20.65625rem;
    max-height: 41.3125rem;
  }
}
@media (max-width: 480px) {
  .about-products-main-image {
    width: 45.0520833333vw;
    min-width: 17.840625rem;
    max-width: 54.0625rem;
    height: 34.4270833333vw;
    min-height: 13.633125rem;
    max-height: 41.3125rem;
  }
}

.about-products-subs {
  padding: 0;
  margin-top: 5rem;
}
.about-products-subs .slide-image-container {
  height: auto;
}
@media (max-width: 768px) {
  .about-products-subs .slide-image-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about-products-subs .slide-image {
    background-position: top center;
  }
}
@media (max-width: 768px) {
  .about-products-subs {
    margin-top: 2rem;
  }
}

.about-product-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
@media (min-width: 769px) {
  .about-product-content:nth-child(even) {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .about-product-content:nth-child(even) .slide-image-container {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
  }
  .about-product-content:nth-child(even) .slide-image {
    background-position: left;
  }
}
@media (max-width: 768px) {
  .about-product-content {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 3.5rem;
  }
}
@media (max-width: 768px) {
  .about-product-content .slide-copy {
    transform: none !important;
    -webkit-transform: none !important;
    width: 100%;
  }
}

.product-chart {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 4rem;
}
.product-chart img {
  max-width: 800px;
  width: 100%;
}
.product-chart:before, .product-chart:after, .product-chart .honeycomb {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.product-chart:before {
  background-image: url("../images/chart-leaves-left.png");
  width: 16.0416666667vw;
  min-width: 19.25rem;
  max-width: 19.25rem;
  height: 10.1041666667vw;
  min-height: 12.125rem;
  max-height: 12.125rem;
  max-width: 308px;
  max-height: 194px;
  left: -180px;
  bottom: -96px;
  z-index: 3;
}
@media (max-width: 1280px) {
  .product-chart:before {
    width: 16.0416666667vw;
    min-width: 15.4rem;
    max-width: 19.25rem;
    height: 10.1041666667vw;
    min-height: 9.7rem;
    max-height: 12.125rem;
    left: -122px;
  }
}
@media (max-width: 768px) {
  .product-chart:before {
    left: -86px;
  }
}
.product-chart:after {
  background-image: url("../images/chart-leaves-right.png");
  width: 13.3333333333vw;
  min-width: 16rem;
  max-width: 16rem;
  height: 8.2291666667vw;
  min-height: 9.875rem;
  max-height: 9.875rem;
  max-width: 256px;
  max-height: 158px;
  right: -165px;
  bottom: -88px;
  z-index: 3;
}
@media (max-width: 1280px) {
  .product-chart:after {
    width: 16.0416666667vw;
    min-width: 15.4rem;
    max-width: 19.25rem;
    height: 10.1041666667vw;
    min-height: 9.7rem;
    max-height: 12.125rem;
    right: -151px;
  }
}
@media (max-width: 768px) {
  .product-chart:after {
    right: -86px;
  }
}
@media (max-width: 680px) {
  .product-chart {
    margin-top: 2rem;
    width: 100%;
  }
  .product-chart:before, .product-chart:after, .product-chart .honeycomb {
    display: none;
  }
}

.chart-title {
  font-size: 2.5rem;
}
.chart-title:before, .chart-title:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 27px;
  height: 26px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.chart-title:before {
  margin-right: 10px;
}
.chart-title:after {
  margin-left: 10px;
}
@media (max-width: 680px) {
  .chart-title {
    font-size: 1.875rem;
  }
  .chart-title:before, .chart-title:after {
    width: 22px;
    height: 20px;
  }
}

table.nutritional-chart {
  position: relative;
  z-index: 2;
  width: 100vw;
  max-width: 900px;
  margin: auto;
  text-align: left;
  border-collapse: separate;
  border: solid transparent 1px;
  border-radius: 20px;
  border-spacing: 0;
  overflow: hidden;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
  font-size: 1rem;
  margin-top: 1.7rem;
}
table.nutritional-chart th, table.nutritional-chart td {
  vertical-align: middle;
  padding-top: 27px;
  padding-bottom: 25px;
}
table.nutritional-chart th:nth-child(1), table.nutritional-chart td:nth-child(1) {
  text-align: left;
  padding-left: 2.375rem;
  padding-right: 18px;
}
table.nutritional-chart th:last-of-type, table.nutritional-chart td:last-of-type {
  padding-right: 2.375rem;
}
table.nutritional-chart thead {
  font-size: 1.875em;
}
table.nutritional-chart thead tr {
  background-color: #d0202f;
  color: #FFFFFF;
}
table.nutritional-chart thead .small-text {
  display: block;
  font-size: 0.6em;
}
table.nutritional-chart tbody {
  font-family: "Vision Bold";
  font-size: 1.6875em;
}
table.nutritional-chart tbody tr {
  background-color: #fdf4dc;
}
table.nutritional-chart tbody tr:nth-child(even) {
  background-color: #fcedc5;
}
table.nutritional-chart td.subhead {
  font-family: "Vision Heavy";
  font-size: 1.1111em;
  text-align: center;
}
@media (max-width: 680px) {
  table.nutritional-chart td.subhead {
    font-size: 21px;
  }
}
table.nutritional-chart td span.chart-flavor {
  position: relative;
}
table.nutritional-chart td span.chart-flavor:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  left: 144px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 5.8vw;
  height: 5.3vw;
  max-width: 56px;
  max-height: 51px;
  min-width: 30px;
  min-height: 27px;
}
@media (max-width: 680px) {
  table.nutritional-chart td span.chart-flavor:after {
    left: 100px;
  }
}
@media (max-width: 1188px) {
  table.nutritional-chart {
    width: 75vw;
  }
}
@media (max-width: 960px) {
  table.nutritional-chart th:nth-child(1), table.nutritional-chart td:nth-child(1) {
    max-width: 176px;
  }
}
@media (max-width: 680px) {
  table.nutritional-chart {
    font-size: 0.66rem;
    width: 100%;
  }
  table.nutritional-chart thead .small-text {
    font-size: 0.66em;
  }
  table.nutritional-chart th:nth-child(1), table.nutritional-chart td:nth-child(1) {
    max-width: 30vw;
    padding-left: 1.4375rem;
    padding-right: 0;
  }
  table.nutritional-chart th:last-of-type, table.nutritional-chart td:last-of-type {
    padding-right: 1.4375rem;
  }
}

.bottle {
  position: absolute;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 680px) {
  .bottle {
    display: none;
  }
}
.bottle.pom-blueberry {
  background-image: url("../images/slide1-bottle-pom-blueberry.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  top: 29%;
  left: 18%;
  width: 25.7vw;
  height: 29.2vw;
  min-width: 16.75rem;
  min-height: 18.9375rem;
  max-width: 30.9375rem;
  max-height: 35.0625rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bottle.pom-blueberry {
    background-image: url("../images/slide1-bottle-pom-blueberry@2x.png");
  }
}
@media (max-width: 960px) {
  .bottle.pom-blueberry {
    left: 13%;
  }
}
@media (max-width: 768px) {
  .bottle.pom-blueberry {
    top: 46%;
    left: 6%;
  }
}
@media (max-width: 680px) {
  .bottle.pom-blueberry {
    min-width: 165px;
    min-height: 186px;
    left: 4%;
  }
}
@media (max-width: 480px) {
  .bottle.pom-blueberry {
    top: 290px;
    left: -40px;
  }
}
.bottle.orange-mango {
  background-image: url("../images/slide1-bottle-orange-mango.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  top: 14%;
  right: 8%;
  width: 14.8vw;
  height: 19.6vw;
  min-width: 11.5625rem;
  min-height: 15.3125rem;
  max-width: 17.8125rem;
  max-height: 23.5rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bottle.orange-mango {
    background-image: url("../images/slide1-bottle-orange-mango@2x.png");
  }
}
@media (max-width: 1280px) {
  .bottle.orange-mango {
    top: 21%;
  }
}
@media (max-width: 960px) {
  .bottle.orange-mango {
    top: 34%;
  }
}
@media (max-width: 768px) {
  .bottle.orange-mango {
    top: 41%;
    right: 0;
    transform: none !important;
    -webkit-transform: none !important;
    min-width: 133px;
    min-height: 176px;
  }
}
@media (max-width: 480px) {
  .bottle.orange-mango {
    display: none;
  }
}
.bottle.cran-lime {
  background-image: url("../images/slide1-bottle-cran-lime.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  top: 33%;
  left: 3%;
  width: 21.1vw;
  height: 18vw;
  min-width: 13.6875rem;
  min-height: 11.6875rem;
  max-width: 25.375rem;
  max-height: 21.625rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bottle.cran-lime {
    background-image: url("../images/slide1-bottle-cran-lime@2x.png");
  }
}
@media (max-width: 768px) {
  .bottle.cran-lime {
    top: 35%;
    left: -4%;
  }
}
@media (max-width: 680px) {
  .bottle.cran-lime {
    top: 39%;
    left: -6%;
    min-width: 135px;
    min-height: 115px;
  }
}
@media (max-width: 480px) {
  .bottle.cran-lime {
    display: none;
  }
}

.bottles-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 681px) {
  .bottles-mobile {
    display: none;
  }
}

.mobile-bottle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
}
.mobile-bottle.classic {
  background-image: url("../images/slide1-bottle-classic-mobile.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mobile-bottle.classic {
    background-image: url("../images/slide1-bottle-classic-mobile@2x.png");
  }
}
.mobile-bottle.pom-blueberry {
  display: none;
  background-image: url("../images/slide1-bottle-pom-blueberry-mobile.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mobile-bottle.pom-blueberry {
    background-image: url("../images/slide1-bottle-pom-blueberry-mobile@2x.png");
  }
}
.mobile-bottle.orange-mango {
  display: none;
  background-image: url("../images/slide1-bottle-orange-mango-mobile.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mobile-bottle.orange-mango {
    background-image: url("../images/slide1-bottle-orange-mango-mobile@2x.png");
  }
}
.mobile-bottle.cran-lime {
  display: none;
  background-image: url("../images/slide1-bottle-cran-lime-mobile.png");
  background-size: contain auto;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mobile-bottle.cran-lime {
    background-image: url("../images/slide1-bottle-cran-lime-mobile@2x.png");
  }
}

.mint-fruit {
  position: absolute;
  background-image: url("../images/slide1-mint-fruit.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 33%;
  margin: auto;
  width: 79vw;
  height: 25.4vw;
}
@media (max-width: 680px) {
  .mint-fruit {
    display: none;
  }
}

.bg-lemon {
  position: absolute;
  z-index: 2;
  background-image: url("../images/slide1-bg-lemon.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 35%;
  width: 7.1354166667vw;
  min-width: 3.425rem;
  max-width: 8.5625rem;
  height: 10.4166666667vw;
  min-height: 5rem;
  max-height: 12.5rem;
}
@media (max-width: 680px) {
  .bg-lemon {
    display: none;
  }
}

.bg-lemon-cran {
  position: absolute;
  z-index: 2;
  background-image: url("../images/slide1-bg-lemon-cran.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 2.2vw;
  top: 42%;
  width: 10.6770833333vw;
  min-width: 5.125rem;
  max-width: 12.8125rem;
  height: 10.9375vw;
  min-height: 5.25rem;
  max-height: 13.125rem;
}
@media (max-width: 768px) {
  .bg-lemon-cran {
    display: none;
  }
}

.bg-lemon-whole-left {
  position: absolute;
  z-index: 2;
  background-image: url("../images/slide1-bg-lemon-whole-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  bottom: 100px;
  width: 10.78125vw;
  min-width: 5.175rem;
  max-width: 12.9375rem;
  height: 15vw;
  min-height: 7.2rem;
  max-height: 18rem;
}
@media (max-width: 680px) {
  .bg-lemon-whole-left {
    display: none;
  }
}

.bg-lemon-right {
  position: absolute;
  z-index: 2;
  background-image: url("../images/slide1-bg-lemon-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 10.3645833333vw;
  min-width: 4.975rem;
  max-width: 12.4375rem;
  height: 8.1770833333vw;
  min-height: 3.925rem;
  max-height: 9.8125rem;
}
@media (max-width: 680px) {
  .bg-lemon-right {
    display: none;
  }
}

.bg-orange {
  position: absolute;
  z-index: 2;
  background-image: url("../images/slide1-bg-orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 32%;
  width: 5.7291666667vw;
  min-width: 2.75rem;
  max-width: 6.875rem;
  height: 8.8541666667vw;
  min-height: 4.25rem;
  max-height: 10.625rem;
}
@media (max-width: 680px) {
  .bg-orange {
    display: none;
  }
}

.landing-clouds-left {
  position: absolute;
  left: 0;
  top: -150px;
  background-image: url("../images/landing-clouds-left.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 51.875vw;
  min-width: 24.9rem;
  max-width: 62.25rem;
  height: 41.1979166667vw;
  min-height: 19.775rem;
  max-height: 49.4375rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .landing-clouds-left {
    background-image: url("../images/landing-clouds-left@2x.png");
  }
}

.landing-clouds-right {
  position: absolute;
  right: 0;
  top: 70px;
  background-image: url("../images/landing-clouds-right.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 40.8333333333vw;
  min-width: 19.6rem;
  max-width: 49rem;
  height: 30.2083333333vw;
  min-height: 14.5rem;
  max-height: 36.25rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .landing-clouds-right {
    background-image: url("../images/landing-clouds-right@2x.png");
  }
}

.landing-clouds-right {
  position: absolute;
  right: 0;
  top: 70px;
  background-image: url("../images/landing-clouds-right.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 40.8333333333vw;
  min-width: 19.6rem;
  max-width: 49rem;
  height: 30.2083333333vw;
  min-height: 14.5rem;
  max-height: 36.25rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .landing-clouds-right {
    background-image: url("../images/landing-clouds-right@2x.png");
  }
}

.mimi-clouds-left {
  position: absolute;
  left: 0;
  top: 200px;
  background-image: url("../images/mimi-clouds-left.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 42.1875vw;
  min-width: 20.25rem;
  max-width: 50.625rem;
  height: 41.8229166667vw;
  min-height: 20.075rem;
  max-height: 50.1875rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-clouds-left {
    background-image: url("../images/mimi-clouds-left@2x.png");
  }
}

.mimi-clouds-right {
  position: absolute;
  right: 0;
  top: 300px;
  background-image: url("../images/mimi-clouds-right.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 19.1145833333vw;
  min-width: 9.175rem;
  max-width: 22.9375rem;
  height: 33.3854166667vw;
  min-height: 16.025rem;
  max-height: 40.0625rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-clouds-right {
    background-image: url("../images/mimi-clouds-right@2x.png");
  }
}

.mimi-left-lem-blueberry {
  position: absolute;
  left: 0;
  top: 400px;
  background-image: url("../images/mimi-side-left-lem-blueberry.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 5.2083333333vw;
  min-width: 3.125rem;
  max-width: 6.25rem;
  height: 19.84375vw;
  min-height: 11.90625rem;
  max-height: 23.8125rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-left-lem-blueberry {
    background-image: url("../images/mimi-side-left-lem-blueberry@2x.png");
  }
}
@media (max-width: 1188px) {
  .mimi-left-lem-blueberry {
    top: 434px;
  }
}
@media (max-width: 1020px) {
  .mimi-left-lem-blueberry {
    top: 170px;
  }
}
@media (max-width: 768px) {
  .mimi-left-lem-blueberry {
    display: none;
  }
}

.mimi-left-pom-lem-orange {
  position: absolute;
  left: 4vw;
  bottom: 40px;
  background-image: url("../images/mimi-side-left-pom-lem-orange.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 11.6145833333vw;
  min-width: 4.18125rem;
  max-width: 13.9375rem;
  height: 24.4270833333vw;
  min-height: 8.79375rem;
  max-height: 29.3125rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-left-pom-lem-orange {
    background-image: url("../images/mimi-side-left-pom-lem-orange@2x.png");
  }
}
@media (max-width: 1188px) {
  .mimi-left-pom-lem-orange {
    left: 1vw;
    bottom: auto;
    top: 475px;
  }
}
@media (max-width: 1020px) {
  .mimi-left-pom-lem-orange {
    top: 575px;
  }
}
@media (max-width: 768px) {
  .mimi-left-pom-lem-orange {
    width: 11.6145833333vw;
    min-width: 9.75625rem;
    max-width: 13.9375rem;
    height: 24.4270833333vw;
    min-height: 20.51875rem;
    max-height: 29.3125rem;
    transform: none !important;
    -webkit-transform: none !important;
    top: auto;
    bottom: -120px;
    left: 10%;
  }
}
@media (max-width: 680px) {
  .mimi-left-pom-lem-orange {
    display: none;
  }
}

.mimi-right-lime-mango {
  position: absolute;
  right: -2vw;
  bottom: -100px;
  background-image: url("../images/mimi-side-right-lime-mango.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 10.2604166667vw;
  min-width: 6.15625rem;
  max-width: 12.3125rem;
  height: 23.9583333333vw;
  min-height: 14.375rem;
  max-height: 28.75rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-right-lime-mango {
    background-image: url("../images/mimi-side-right-lime-mango@2x.png");
  }
}
@media (min-width: 1870px) {
  .mimi-right-lime-mango {
    right: 3vw;
    bottom: 0px;
  }
}
@media (max-width: 1020px) {
  .mimi-right-lime-mango {
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  .mimi-right-lime-mango {
    display: none;
  }
}

.mimi-right-orange-cran {
  position: absolute;
  right: -1vw;
  top: 310px;
  background-image: url("../images/mimi-side-right-orange-cran.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 6.4583333333vw;
  min-width: 3.875rem;
  max-width: 7.75rem;
  height: 16.5625vw;
  min-height: 9.9375rem;
  max-height: 19.875rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .mimi-right-orange-cran {
    background-image: url("../images/mimi-side-right-orange-cran@2x.png");
  }
}
@media (min-width: 1870px) {
  .mimi-right-orange-cran {
    right: 1vw;
    top: 400px;
  }
}
@media (max-width: 1280px) {
  .mimi-right-orange-cran {
    right: -40px;
    top: 180px;
  }
}
@media (max-width: 1020px) {
  .mimi-right-orange-cran {
    top: 600px;
  }
}
@media (max-width: 768px) {
  .mimi-right-orange-cran {
    width: 6.4583333333vw;
    min-width: 6.975rem;
    max-width: 7.75rem;
    height: 16.5625vw;
    min-height: 17.8875rem;
    max-height: 19.875rem;
    transform: none !important;
    -webkit-transform: none !important;
    top: auto;
    bottom: -260px;
    right: 30%;
  }
}
@media (max-width: 680px) {
  .mimi-right-orange-cran {
    display: none;
  }
}

.ingredients-clouds-left {
  position: absolute;
  left: 0;
  top: 550px;
  background-image: url("../images/ingredients-clouds-left.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 7.7083333333vw;
  min-width: 3.7rem;
  max-width: 9.25rem;
  height: 6.71875vw;
  min-height: 3.225rem;
  max-height: 8.0625rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .ingredients-clouds-left {
    background-image: url("../images/ingredients-clouds-left@2x.png");
  }
}

.ingredients-clouds-right {
  position: absolute;
  right: 0;
  top: 30px;
  background-image: url("../images/ingredients-clouds-right.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 49.0625vw;
  min-width: 23.55rem;
  max-width: 58.875rem;
  height: 48.0729166667vw;
  min-height: 23.075rem;
  max-height: 57.6875rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .ingredients-clouds-right {
    background-image: url("../images/ingredients-clouds-right@2x.png");
  }
}

.ingredients-right-lem {
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: 1;
  background-image: url("../images/ingredients-side-right-lem.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 15.3645833333vw;
  min-width: 9.21875rem;
  max-width: 18.4375rem;
  height: 14.1145833333vw;
  min-height: 8.46875rem;
  max-height: 16.9375rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .ingredients-right-lem {
    background-image: url("../images/ingredients-side-right-lem@2x.png");
  }
}
@media (max-width: 1280px) {
  .ingredients-right-lem {
    bottom: 60px;
  }
}
@media (max-width: 768px) {
  .ingredients-right-lem {
    display: none;
  }
}

.product-clouds-left {
  position: absolute;
  left: 0;
  top: 200px;
  background-image: url("../images/products-clouds-left.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 38.59375vw;
  min-width: 18.525rem;
  max-width: 46.3125rem;
  height: 86.3020833333vw;
  min-height: 41.425rem;
  max-height: 103.5625rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-clouds-left {
    background-image: url("../images/products-clouds-left@2x.png");
  }
}

.product-clouds-right {
  position: absolute;
  right: 0;
  top: -50px;
  background-image: url("../images/products-clouds-right.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 38.8541666667vw;
  min-width: 18.65rem;
  max-width: 46.625rem;
  height: 87.03125vw;
  min-height: 41.775rem;
  max-height: 104.4375rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-clouds-right {
    background-image: url("../images/products-clouds-right@2x.png");
  }
}

.product-left-blue-mango {
  position: absolute;
  left: 7vw;
  top: 400px;
  background-image: url("../images/products-side-left-blue-mango.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 9.6875vw;
  min-width: 3.4875rem;
  max-width: 11.625rem;
  height: 19.4791666667vw;
  min-height: 7.0125rem;
  max-height: 23.375rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-left-blue-mango {
    background-image: url("../images/products-side-left-blue-mango@2x.png");
  }
}
@media (max-width: 1020px) {
  .product-left-blue-mango {
    top: 535px;
  }
}
@media (max-width: 768px) {
  .product-left-blue-mango {
    transform: none !important;
    -webkit-transform: none !important;
    top: -200px;
    left: 5%;
  }
}
@media (max-width: 680px) {
  .product-left-blue-mango {
    top: -108px;
    left: 35%;
  }
}

.product-left-pom-lem-lime {
  position: absolute;
  left: 0;
  top: 440px;
  background-image: url("../images/products-side-left-pom-lem-lime.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 11.3541666667vw;
  min-width: 4.0875rem;
  max-width: 13.625rem;
  height: 29.375vw;
  min-height: 10.575rem;
  max-height: 35.25rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-left-pom-lem-lime {
    background-image: url("../images/products-side-left-pom-lem-lime@2x.png");
  }
}
@media (max-width: 1020px) {
  .product-left-pom-lem-lime {
    top: 525px;
  }
}
@media (max-width: 768px) {
  .product-left-pom-lem-lime {
    display: none;
  }
}

.product-right-lem-lime {
  position: absolute;
  right: 0;
  top: 400px;
  z-index: 1;
  background-image: url("../images/products-side-right-lem-lime.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 11.9791666667vw;
  min-width: 4.3125rem;
  max-width: 14.375rem;
  height: 20.1041666667vw;
  min-height: 7.2375rem;
  max-height: 24.125rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-right-lem-lime {
    background-image: url("../images/products-side-right-lem-lime@2x.png");
  }
}
@media (max-width: 1020px) {
  .product-right-lem-lime {
    top: 535px;
  }
}
@media (max-width: 768px) {
  .product-right-lem-lime {
    transform: none !important;
    -webkit-transform: none !important;
    top: -150px;
  }
}
@media (max-width: 680px) {
  .product-right-lem-lime {
    top: -100px;
  }
}

.product-right-cran-orange {
  position: absolute;
  right: 0;
  top: 460px;
  z-index: 1;
  background-image: url("../images/products-side-right-cran-orange.png");
  background-size: contain auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 14.3229166667vw;
  min-width: 5.15625rem;
  max-width: 17.1875rem;
  height: 27.2395833333vw;
  min-height: 9.80625rem;
  max-height: 32.6875rem;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .product-right-cran-orange {
    background-image: url("../images/products-side-right-cran-orange@2x.png");
  }
}
@media (max-width: 1020px) {
  .product-right-cran-orange {
    top: 555px;
  }
}
@media (max-width: 768px) {
  .product-right-cran-orange {
    display: none;
  }
}

.center {
  position: absolute;
  top: 50%;
}

#airplane {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  left: 0;
  position: absolute;
  transform-origin: top;
}
@media (max-width: 1020px) {
  #airplane {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  #airplane {
    margin-left: 40px;
  }
}
@media (max-width: 680px) {
  #airplane {
    display: none;
  }
}
#airplane > div {
  transform: translateX(-50%) !important;
  -webkit-transform: translateX(-50%) !important;
  left: 50% !important;
}

/*# sourceMappingURL=style.css.map */
